
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #BF65A6 !default;
$color-secondary: #606c76 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

$text-gray: #696A74;
$white: #fff;

$color-button-1: #AB4F90;
$color-button-2: #C065A6;

$violet1: #AB4F90;
$violet2: #C065A6;