// box-sizing
* {
    box-sizing: border-box;
}

// clearfix
@mixin clearfix {
    &::after {
        clear: both;
        content: ' ';
        display: table;
    }
}

// overall container mixin
@mixin container( $width: all, $config: $susy, $debug: false) {
    $config: susy-settings($config);
    $container-spread: map-get($config, 'container-spread');
    $width: span($width $container-spread of $container-spread, $config);
    @include clearfix;
    margin: 0 auto;
    max-width: $width or 100%;
    @if $debug {
        background: susy-svg-grid($grid: $config) no-repeat scroll;
    }
}

// Span Mixin
// ----------
@mixin span( $span, $config: $susy) {
    width: susy-span($span, $config);
    @if index($span, 'last') {
        float: right;
        // margin-right: 0; if you want an explicit reset
    }
    @else {
        float: left;
        margin-right: gutter();
    }
}