
// Nav
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.nav {
	ul {
		list-style: none;
		> li {
			display: inline-block;
			padding: 0 10px;
			position: relative;
			margin: 0;
			&.menu-item-has-children {
				.fa {
				    font-size: 8px;
				    margin-left: 5px;
				    vertical-align: middle;
				}
			}
			&:hover {
				.nav-drop {
					margin-left: 0;
					display: block;
					position: absolute;
					z-index: 100;
					margin: 0;
				    width: 300px;
				    background: #D7D7D7;
				    padding: 10px;
				}

			}
		}
	}
    
	.nav-drop {
		display: none;
	}

	&.footer-nav {
		> li {
			display: block;
		}
	}
}
